@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: #f58500;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

@media screen and (min-width: 1200px) {
  #maincontent {
    display: grid;
    grid-template-columns: 45vw 55vw;
    grid-template-rows: 100%;
    height: 82vh;
  }
}

@media screen and (min-width: 800px) {
  .inside #maincontent > * {
    max-width: 800px;
  }
}

@media screen and (min-width: 1200px) {
  .inside #maincontent {
    display: grid;
    grid-template-columns: 450px 350px auto;
    grid-template-rows: 100%;
    height: 82vh;
    max-width: 100%;
  }
}

footer {
  background-color: #444;
  color: #ccc;
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  margin: auto;
  padding: 0.6em 0;
}

nav h1 a {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 9px;
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  nav h1 a {
    font-size: 1.5em;
  }
}

#breadcrumb {
    padding: 0.5em;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

@media screen and (min-width: 800px) {
  #map {
    height: 600px;
  }
}

@media screen and (min-width: 1200px) {
  #map {
    height: 100%;
  }
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background: linear-gradient(#80cbff,#3397DB);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
}

.filter-options .select-container {
  width: 100%;
}

.filter-options .select-container select {
  background-color: white;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 1.1em;
  padding: 0.5em;
  letter-spacing: 0;
  width: calc(50% - 0.25em);
  cursor: pointer;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .filter-options h2 {
    font-size: 1.5rem;
  }

  .filter-options .select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filter-options .select-container select {
    font-size: 1.5em;
    margin: 0.5em 0;
  }
}

@media screen and (min-width: 1200px) {
  .filter-options {
    flex-direction: row;
  }
}

/* ====================== Restaurant Listing ====================== */
#restaurants-container {
  overflow-y: auto;
}

#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 1em;
  text-align: center;
}
#restaurants-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 4px 6px 10px 0px #d4d4d4;
  font-family: Arial,sans-serif;
  margin: 1em;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  border-radius: 10px 10px 0 0;
  display: block;
  margin: 0;
  max-width: 100%;
}
#restaurants-list li h3 {
  color: #f58500;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.3;
  margin: 1em;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background: linear-gradient(#ffc966, #f58500);
  border-bottom: 3px solid #eee;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12pt;
  margin: 0.5em 1em;
  padding: 0.4em 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  #restaurants-list li {
    width: calc(50% - 2em - 2px);
  }

  #restaurants-list li h3 {
    font-size: 1.6em;
    font-weight: 100;
  }

  #restaurants-list li p,
  #restaurants-list li a {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1200px) {
  #restaurants-list li h3 {
    font-size: 1em;
    font-weight: 100;
  }

  #restaurants-list li p,
  #restaurants-list li a {
    font-size: 1em;
  }
}

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
}
.inside #map {
  background-color: #ccc;
  height: 400px;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .inside #map-container {
    height: 73vh;
  }
  .inside #map {
    height: 100%;
  }
}

.inside footer {
  bottom: 0;
}
#restaurant-name {
  color: #f58500;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0.5em;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}
#restaurant-img {
	max-width: 100%;
}
#restaurant-address {
  text-align: center;
  font-size: 12pt;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-container {
  margin: 0 1em;
}

#reviews-container {
  overflow-y: auto;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  text-align: center;
}
#reviews-list {
  margin: 1em;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  border-radius: 20px 0 0 0;
  box-shadow: 4px 6px 10px 0px #d4d4d4;
  display: block;
  list-style-type: none;
  margin: 1em 0;
  overflow: hidden;
  position: relative;
}

#reviews-list li .review-header {
  background-color: #444;
  border-radius: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}

#reviews-list li .review-header .author {
  color: #eee;
}

#reviews-list li .review-header .date {
  font-weight: 100;
  color: #ddd;
}

#reviews-list li .rating {
  background-color: orange;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  margin: 1em;
  line-height: 16px;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

#reviews-list li .rating .stars {
  font-size: 16px;
}

#reviews-list li .comment {
  margin: 0 1em 1em 1em;
}

#restaurant-hours {
  margin: 0 auto;
}

#restaurant-hours td {
  color: #666;
}

@media screen and (min-width: 400px) {
  #reviews-list li .comment {
    font-size: 16px;
  }
}

@media screen and (min-width: 800px) {
  #reviews-list li .comment {
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {

  .inside #map-container,
  .inside #restaurant-container,
  .inside #reviews-container {
    margin: 0 auto;
  }

  .inside #map-container {
    margin-bottom: 1em;
  }

  #reviews-list {
    margin: 0 1em;
  }

  .inside #reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}